<div class="container-fluid">

  <!-- Page Heading -->
 

<div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Add Driver Details</h6>
        </div>
        <div class="card-body">
          <form>
<div class="form-row">
<div class="form-group col-md-4">
<label for="inputEmail4"> Name </label>
<input type="email" class="form-control" id="inputEmail4" placeholder="Enter Name here">
</div>
<div class="form-group col-md-4">
<label for="inputPassword4">Certificate No.</label>
<input type="password" class="form-control" id="inputPassword4" placeholder="Enter Certificate No. here">
</div>
<div class="form-group col-md-4">
<label for="inputPassword4">License No.</label>
<input type="password" class="form-control" id="inputPassword4" placeholder="Enter License No. here">
</div>
</div>
<div class="form-row">
<div class="form-group col-md-4">
<label for="inputEmail4"> Transport Name </label>
<input type="email" class="form-control" id="inputEmail4" placeholder="Enter Transport Name here">
</div>
<div class="form-group col-md-4">
<label for="inputPassword4">Transport Address</label>
<input type="password" class="form-control" id="inputPassword4" placeholder="Enter Transport Address here">
</div>
<div class="form-group col-md-4">
<label for="inputPassword4">Transport phoneNo.</label>
<input type="password" class="form-control" id="inputPassword4" placeholder="Enter Transport phoneNo. here">
</div>
</div>
<div class="form-row">
<div class="form-group col-md-4">
<label for="inputEmail4"> Date of Birth </label>
<input type="date" class="form-control" id="inputEmail4" placeholder="Enter Transport Name here">
</div>
<div class="form-group col-md-4">
<label for="inputPassword4">Training Period</label> <br>
<div class="form-check form-check-inline">
<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
<label class="form-check-label" for="inlineRadio1">1 days</label> 
&nbsp; &nbsp; &nbsp;
<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
<label class="form-check-label" for="inlineRadio1">3 days</label>
</div>
    </div>
      <div class="form-group col-md-4">
      <label for="inputState">Select year</label>
      <select id="inputState" class="form-control">
      <option selected>Choose...</option>
      <option>1 year</option>
      <option>3 year</option>
      </select>
    </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputEmail4"> Training start date </label>
        <input type="date" class="form-control" id="inputEmail4" placeholder="Enter start date here">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Training Expiry date</label>
        <input type="date" class="form-control" id="inputPassword4" placeholder="Enter expiry date here">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Address (license)</label>
        <input type="text" class="form-control" id="inputPassword4" placeholder="Enter address here">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
        <label for="inputEmail4"> Payment amount </label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="Enter amount here">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Select payment option</label>
        <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>Cash</option>
        <option>Check</option>
        <option>Online</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Documents</label>
        <input type="file" class="form-control" id="inputPassword4" >
      </div>
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Photo</label>
        <input type="file" class="form-control" id="inputPassword4" >
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>