<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Edit Your Password</h6>
    </div>
  <div class="card-body">
  <div>
    <form (ngSubmit)="EditPassword()" #updatePass = "ngForm">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputEmail4"> New Password</label>
        <input type="text" class="form-control" [(ngModel)]="password" required placeholder="Password" id="password" name="password">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputEmail4"> Confirm Password</label>
        <input type="password" class="form-control" [(ngModel)]="cpassword" required placeholder="Confirm Password" name="cpassword">
        <div *ngIf="!updatePass.form.valid || password!==cpassword" class="m-0 font-weight-bold text-danger">Password must match</div>
      </div>
    </div>
  <button type="submit" [disabled] = "!updatePass.form.valid || password!==cpassword" class="btn btn-primary">Submit</button>
  <button class="btn btn-danger ml-2" >Cancel</button>
  </form>
</div>
</div>
  