<div *ngIf="loggedIn()">
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/dashboard']" routerLinkActive="active" >
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">NBIOSAST </div>
  </a>

  <hr class="sidebar-divider my-0">

  <li class="nav-item active">
    <a class="nav-link" [routerLink]="['/dashboard']">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <hr class="sidebar-divider">


 <li *appHasRole = "['AccountAdminCreater']" class="nav-item">
    <a class="nav-link" [routerLink] = "['/addaccount']">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Admin Details</span></a>
  </li>


  <li *appHasRole = "['AccountAdminCreater','BranchAdminCreater']" class="nav-item">
    <a class="nav-link" [routerLink]="['/branchdetails']" >
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Branch Details</span></a>
  </li>

  <li  class="nav-item">
    <a class="nav-link" [routerLink]="['/driverdetails']" >
      <i class="fas fa-fw fa-table"></i>
      <span>Driver Details</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/expirecards']">
      <i class="fas fa-fw fa-table"></i>
      <span>Expire Card Details</span></a>
  </li>

 <li class="nav-item">
  <a class="nav-link" [routerLink]="['/reports']">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Reports</span></a>
  </li>


  <hr class="sidebar-divider d-none d-md-block">


  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
</div>