<div  class="card-body" *ngIf="!addDriverMode">
  <div class="mat-elevation-z8">
    <div>
      <a class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm" (click)="AddDriver()"><i class="fas fa-download fa-sm text-white-50"></i> Add Branch</a>
      <mat-form-field class="d-none d-sm-inline-block search-form-field ml-5" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button area-label="Clear">
        <mat-icon *ngIf="searchKey" (click)="ClearIt()">close</mat-icon></button>
    </mat-form-field>
    </div>
    <mat-table [dataSource] = "Driver">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Driver Id</mat-header-cell>
        <mat-cell  *matCellDef="let element">{{element.id}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.address}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="photo">
        <mat-header-cell *matHeaderCellDef>Photo</mat-header-cell>
        <mat-cell *matCellDef="let element"><img id="image" [src]="'data:image/jpeg;base64,' + element.photo" width="60" height="60"></mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let row" >
          <button type="button" class="btn btn-outline-success" (click)="ApproveDriver()">Approve</button>
         
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="DeleteDriver(element)"><mat-icon>delete</mat-icon></button>
          <button mat-icon-button color="blue" (click)="EditDriver()"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button color="blue" (click)="PrintDriver(element)" ><mat-icon>print</mat-icon></button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6" >
          Loading data...
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6" >
          No Data to display.
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="DisplayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns:DisplayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':showLoading==false}"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':Driver!=null}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions] ="[5, 10, 15, 20]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
</div>

<div *ngIf="addDriverMode" class="container">
  <app-AddDriverDetails (cancelDriverCreation)="cancelDriverCreation($event)"></app-AddDriverDetails>
</div>