<div class="container-fluid" *ngIf="!addBranchAdminMode">

  <!-- Page Heading -->
  
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Branch Details</h6>
    </div>

    <div  class="card-body">
      <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" (click)="AddBranchAdmin()"><i class="fas fa-download fa-sm text-white-50"></i> Add Branch</a>
      <br><br>
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th *ngFor="let column of headers">{{column | uppercase }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of branchAdmin">
              <td *ngFor="let column of headers">
                {{row[column]}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<div *ngIf="addBranchAdminMode" class="container">
  <app-AddBranchAdmin  (cancelBranchCreation)="cancelBranchCreation($event)"></app-AddBranchAdmin>
</div>